@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 30 95% 3%;

    --card: 0 0% 100%;
    --card-foreground: 30 95% 3%;

    --popover: 0 0% 100%;
    --popover-foreground: 30 95% 3%;

    --primary: 0 100% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 30 95% 3%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96%;
    --muted-foreground: 30 10% 40%;

    --accent: 0 100% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 100% 58%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Open Sans", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
